.node_buttons {
    align-self: flex-end;
    margin-bottom: 15px;
    flex-wrap: nowrap;
}

.delete_button {
    margin-right: 5px;
}

.popover {
    display: flex;
    flex-direction: column;
}

.checked {
    border: 2px solid black !important;
}

.diagram_element {
    display:flex;
    flex-direction: column;
    border-radius: 5%;
    color: #000000;
    border: 1px solid #101111;
    text-align: center;
}
.diagram_element:hover {
    border: 2px solid #0095a8;
}
.diagram_start{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #6ff9ff;
}
.diagram_end{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f44336;
}
.diagram_phase{
    width: 100px;
    height: 100px;
    background-color: white;
}
.diagram_decision{
    width: 160px;
    height: 100px;
    background-color: whitesmoke;
}
.diagram_subworkflow{
    background-color: burlywood;
}

.edgeLabel {
    text-align: center;
}
